html {
    scroll-behavior: smooth;
}

.koders-color {
    color: #0734e7c8;
}

.koders-background {
    background-color: #f73f3f;
}

.font-smaller {
    font-size: smaller;
}

/* Navbar */
.navbar-logo {
    width: 90px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Header */
.header-hero {
    background-image: url(../img/logo.png);
    background-size: auto;
    /*opacity: 0.8;*/
    height: 550px;
    background-color: #0c0a0ab6;
}

.header-title {
    background-color: rgba(0, 0, 0, 0.425);
    margin-top: 20%;
    opacity: 1;
}
/* invitacion*/
.invitacion-titulo{
    text-align: center;
	padding: 12px 20px;
	transition: .5s ease all;
	font-size: 36px;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.invitacion{
    text-align: center;
	padding: 12px 20px;
	transition: .5s ease all;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 1px;
}

/* Qué hacemos */
.que-hacemos-title, .que-hacemos-list-item {
    color: #3759C1;
}

.que-hacemos-img {
    width: 100%;
    border-radius: 10%;
}

/* Tecnologías */

.tech-list {
    background-color: rgb(22, 21, 21);
}

.tech-img {
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-name: fadeIn;
    background-color: #1f1515e0;
    color: #f73f3f;
}

.tit-serv{
    color: #f73f3f;
    text-align: center;
	padding: 12px 20px;
	transition: .5s ease all;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.tit-serv-g{
    color: #0734e7c8;
    text-align: center;
	padding: 12px 20px;
	transition: .5s ease all;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* Equipo */
.equipo-desc {
    font-size: 1.25rem;
}

.equipo-img {
    width: 67px; height: 80px;
}

/* Estadísticas */
.estadisticas-number {
    font-size: 1.75rem;
    font-family: "acumin-pro";
}

.estadisticas{
    font-family:"acumin-pro";
    font-size: 1.25rem;
}

/* Formulario de contacto */
.form-wrapper {
    background-color: #F8F8F8;
}

.form-input {
    font-size:small;
    background-color: #F2F2F3;
}

.form-textarea {
    resize:none;
    font-size:small;
    color: rgb(82, 91, 100);
    background-color: #F2F2F3;
}

.form-button {
    background-color:#3759C1;
    color: white;
}

/*boton up*/
.boton-subir {
    display: none;
    /* background: #00974B; */
    border: #fff;
    border-radius: 3px;
    position: fixed;
    left: 45px;
    bottom: 20px;
    z-index: 999999999;
}

/*evento hover*/
.boton-subir:hover {
    box-shadow: 0px 2px 10px 0px #007bff86;
}

/*estilos para el tag i*/
.boton-subir i {
    color: #007BFF;
    font-size: 0.5 em;
    padding: 10px 10px 10px 7px;
    /* -ms-transform: rotate(-45deg); /* IE 9 */
    /* -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    /* transform: rotate(-45deg); */
}

/* Botón whatsapp */
.btn-whatsapp {
    display: block;
    width: 70px;
    height: 70px;
    color: #fff;
    position: fixed;
    right: 45px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}
